<div class="main-container">
  <h2>Generador de Planos</h2>

  <!-- Selección de salón -->
  <label for="salonSelect">Selecciona un salón:</label>
  <select id="salonSelect" [(ngModel)]="selectedSalon">
    <option *ngFor="let salon of salones" [ngValue]="salon">{{salon.name}}</option>
  </select>


  <!-- Panel de creación de mesas -->
  <div class="toolbar">
    <h3>Añadir nueva mesa</h3>
    <label>Tipo:
      <select [(ngModel)]="nuevaMesaTipo">
        <option value="rect">Rectangular</option>
        <option value="circle">Circular</option>
      </select>
    </label>
    <label>Ancho: <input type="number" [(ngModel)]="nuevaMesaWidth"></label>
    <label>Alto: <input type="number" [(ngModel)]="nuevaMesaHeight"></label>
    <button (click)="addMesa()">Añadir Mesa</button>
  </div>

  <!-- Panel de edición de mesa seleccionada -->
  <div *ngIf="selectedMesa" class="edit-panel">
    <h3>Editar mesa</h3>
    <label>Forma:
      <select [(ngModel)]="selectedMesa.tipo" (ngModelChange)="saveState()">
      <option value="circle">Redonda</option>
      <option value="rect">Rectangular</option>
      </select>
    </label>
    <label>Número: <input [(ngModel)]="selectedMesa.numero" (ngModelChange)="saveState()"></label>
    <label>Comensales: <input [(ngModel)]="selectedMesa.comensales" (ngModelChange)="saveState()"></label>
    <label>Ancho: <input type="number" [(ngModel)]="selectedMesa.width" (ngModelChange)="saveState()"></label>
    <label>Alto: <input type="number" [(ngModel)]="selectedMesa.height" (ngModelChange)="saveState()"></label>
    <button (click)="deleteMesa()">Eliminar Mesa</button>
  </div>

  <!-- Contenedor del plano con mesas -->
  <div class="plano-container">
    <!-- Imagen del plano -->
    <img [src]="selectedSalon.path" alt="Plano del salón" class="plano-fondo" />

    <!-- Mesas -->
    <div
      *ngFor="let mesa of mesas"
      class="mesa"
      [ngStyle]="{
        top: mesa.y + 'px',
        left: mesa.x + 'px',
        width: mesa.width + 'px',
        height: mesa.height + 'px',
        'border-radius': mesa.tipo === 'circle' ? '50%' : '0'
      }"
      cdkDrag
          [cdkDragFreeDragPosition]="{x: mesa.x, y: mesa.y}"
      (cdkDragEnded)="updateMesaPosition(mesa, $event)"
      (click)="selectMesa(mesa)"
    >
      <div class="mesa-numero">{{ mesa.numero || 'Nº' }}</div>
      <div class="mesa-comensales">{{ mesa.comensales || '-' }}</div>
    </div>
  </div>


  <!-- Botones de guardar/cargar/descargar -->
  <button (click)="deleteAllTables()">Eliminar todas las mesas</button>
  <button (click)="downloadState()">Descargar estado (.json)</button>
  <input type="file" (change)="loadState($event)" accept=".json" />
  <button (click)="downloadAsImage()">Descargar como JPG</button>
  <button (click)="downloadAsPDF()">Descargar como PDF</button>
</div>
